In [4]:
import pandas as pd
import numpy as np
import re
from pathlib import Path
# to import the tools I need to clean the file

In [5]:
import pandas as pd
file_location = 'C:\\Users\\chris\\Downloads\\UserReviewsClean43LIWC.xlsx' #To define and show the location of the file
user = pd.read_excel(file_location) #Import the file

In [6]:
user = user.drop(columns=["dateP", "thumbsUp", "thumbsTot", "Analytic", "Clout", "Authentic", "Tone", "Sixltr", "Dic", 
                      "function", "ppron", "i",	"we", "you", "shehe", "they", "ipron", "article", "prep", "auxverb", 
                      "adverb", "conj", "negate", "verb", "adj", "compare", "interrog", "number", "quant", "affect", 
                      "family", "friend", "female", "male", "insight", "cause", "discrep", "tentat", "certain", "differ", 
                      "percept", "see", "hear", "feel", "bio", "body", "health", "sexual", "ingest", "drives", "affiliation", 
                      "achieve", "power", "focuspast", "focuspresent", "focusfuture",	"relativ", "motion", "space", "time", 
                      "work", "leisure", "home", "relig", "death", "informal", "swear", "netspeak", "assent", "nonflu", "filler", 
                      "AllPunc", "Period", "Comma", "Colon", "SemiC", "QMark", "Exclam", "Dash", "Quote", "Apostro", "Parenth", "OtherP"])
#Here I delete the colomns I don't need. The rest of the columns I need I got from the ERD

In [7]:
user.columns = [c.lower() for c in user.columns] #to normalize the column names
user = user.drop_duplicates() #to drop duplicates in the file, because somethimes the same review is twice in the file

In [8]:
user["movie name"] = user["url"].str.split("/").str[-1].str.replace("-", "", regex=False)
#This is to split the URL and take the last part of the URL (the movie name), and put the movie name into a new column called 'movie name'

In [9]:
user = user.dropna(thresh=3)
#Here it will drop the row if there are more then 3 missing values in the row. Because we want trustworthy data.

In [10]:
user = user.replace({'':np.nan}) #Replaces the empty values with NAN

In [11]:
user = user[user["wc"] >= 5]                                   #Drops the reviews that have less than 5 words
user = user[~user["rev"].astype(str).str.match(r'^\d+$')]      #Drops the reviews that only have numbers in it

In [12]:
movies_file = "C:\\Users\\chris\\Downloads\\movies_slugs.xlsx"
movies = pd.read_excel(movies_file)                                #Here I upload the file with movie slugs and the movie ID

user["movie name"] = user["movie name"].astype(str).str.strip().str.lower()
movies["slug"] = movies["slug"].astype(str).str.strip().str.lower()                  #this is to normalize all the names

user = user.merge(                                                                 #Here I merge the tables together, to get the movie ID
    movies[["slug", "movie_id"]],                                                  #from the movie_slugs table
    left_on="movie name",
    right_on="slug",
    how="left"
)

user = user.drop(columns=["slug"])                                                #Here I delete the slugs because i have the name and the ID
                                                                                  #of the movie

In [13]:
user["user_id"] = user["reviewer"].astype(str).factorize()[0] + 1 #to create a user ID per unique user that left a review
user["reviewer"] = user["reviewer"].astype(str).str.replace("'", "", regex=False) #to remove the apostrophes in the reviewers names

In [29]:
output_file = 'C:\\Users\\chris\\Downloads\\UserReviewsCleanedfirst2.csv' #makes an output file of the clean data sheet
user.to_csv(output_file, index=False)

In [1]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [3]:
conn_string = 'postgresql://postgres:8536@localhost:5432/postgres' #to make a connection with postgres

db = create_engine(conn_string)
conn = db.connect()

conn1 = psycopg2.connect(                     #setup a connection and provide the information about the server (local host)
    database="postgres",
    user="postgres",
    password="8536",
    host="localhost",
    port="5432"
)

conn1.autocommit = True
cursor = conn1.cursor()

In [4]:
cursor.execute('drop table if exists UserReviews') #Dropping the tables that are alreadt exsist

sql = "CREATE TABLE UserReviews(url, idvscore, reviewer, rev, wc, wps, pronoun, posemo, negemo, anx, anger, sad, social, cogproc, reward, risk, money, movie name, movie_id, user_id)"
#creating the table with the columns I want in postgres

In [5]:
data = pd.read_csv("UserReviewsCleanedfirst2.csv") #to import the clean file in postgres

data = data[["url", "idvscore", "reviewer", "rev", "wc", "wps", "pronoun", "posemo", "negemo", "anx", "anger", "sad", "social", "cogproc", "reward", "risk", "money", "movie name", "movie_id", "user_id"]]
#this is to create the dataframe

In [6]:
data.to_sql('UserReviews', conn, if_exists= 'replace')
#to convert the data into sql, if it already exists it will replace the data

931

In [7]:
sql1 = "SELECT * FROM User;"                #to retrieve all the rows from the datafile
cursor.execute(sql1)
rows = cursor.fetchall()
for row in rows:
    print(row)

('postgres',)

In [8]:
conn1.commit()
conn1.close()